/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";
:root {
	--transition-fast: 200ms;
}

html, body, #root {
	height: 100%;
}

body {
	transition: background-color var(--transition-fast), color var(--transition-fast);
}